body {
  font-family: "Open Sans", sans-serif;
}

#card-header {
  background: linear-gradient(to right bottom, #000137 0%, #010281 100%);
  color: white;
}

.card {
  box-shadow: 0 5px 38px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.1);
  border: none !important;
  overflow: hidden !important;
}

ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.divb {
  background: #eeeeee;
}

.diva,
.divb {
  min-height: 100vh;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

h2::after {
  content: " ";
  display: block;
  width: 100 px;
  height: 1 px;
  margin: 20 px 0 20 px;
  background: #555;
}

#intro a {
  color: black;
}
