main,
#card-header {
  background: #fff;
}

.card {
  box-shadow: 0 5px 38px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.2);
  border: none !important;
  overflow: hidden !important;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.diva {
  background: #e1d0b6;
}

.diva,
.divb {
  min-height: 100vh;
}

h2 {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-transform: uppercase;
}

#intro a {
  color: black;
}
